.Single-banner{
    .container{
        overflow: hidden;
    }
    overflow: visible;
    h1{
        margin-top: 1rem;
    }
    .single-img {
        height: 240px;
    }
    .single-mai-content{
        margin: 25px 0px 25px 0px;
        font-family: Poppins;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        text-align: left;
        color: gray;

    }
}
    .KnowMore{
        margin-top: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);
    }
.fit-image{
    width: 100%;
    -o-object-fit: cover;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.inner-services{
    margin-top: 5rem;
}
.enq{
    margin-top: 25px !important;
    margin-bottom: 50px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 20px;
    text-align: left;
    color: #0a004b;

}
.serv-donut{
    position: absolute;
    right: -89px;
    top: -54px;
    width: 132px!important;
    height: auto;
}
.serv-donut1{
position: absolute;
    right: -51px;
    top: 169px;
    z-index: 4;
    width: 132px !important;
}
.serv-donut2{
    position: absolute;
    left: -39px;
    top: -39.2px;
    z-index: 4;
    width: 132px!important;
}
.sideImg{
    position: relative;
    z-index:22;
}
.technoSlide{
    background: #f1f2f8;

}
.singImg{
    height: 250px;
    overflow: hidden;
    border-radius: 20px 20px 20px 20px;
}
.Single-contensSide{
    h3{
        font-size: 32px;
        margin-top: 25px;
    }
}
@media(min-width:767.98px){ 
    .Single-banner {
        .container{
            overflow: visible;
        }
        h1{
            margin-bottom: 60px;
            font-family: Poppins;
            font-weight: bold;
            font-size: 60px;
            line-height: 70px;
            text-align: center;
            color: #0a004b;

        }
        .single-img{
            height: 500px;
            margin-bottom: 50px;
        }
        .single-mai-content{
            font-family: Poppins;
            font-weight: normal;
            font-size: 17px;
            line-height: 32px;
            text-align: left;
            color:gray;

        }
    }
    .inner-services{
        h1{
            font-family: Poppins;
            font-weight: bold;
            font-size: 50px;
            line-height: 70px;
            text-align: left;
            color: #0a004b;
            margin-bottom: 20px;

        }
    }
    .serv-donut {
        position: absolute;
        right: -287px;
        top: -53px;
        width: 235px!important;
        height: auto;
    }
    .contensSide{
        padding-right: 40px;
    }
    .singImg{
        width: 476px;
        height: 470px !important;
        border-radius: 20px;
        overflow: hidden;

    }
    .Single-contensSide{
        margin-top: auto;
        margin-bottom: auto;
        h3{
            font-family: Poppins;
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
            text-align: left;
            color: #0a004b;

        }
        p{
            font-family: Poppins;
            font-weight: normal;
            font-size: 15px;
            line-height: 30px;
            text-align: left;
            color: gray;

        }
    }
    .serv-donut1 {
    position: absolute;
    right: -16px;
    top: 358px;
    width: 196px!important;
}
.SingleServis{
    .row{
        margin-top: 10rem;
    }
}
.serv-donut2 {
    position: absolute;
    left: -79px;
    top: -98.2px;
    z-index: 4;
    width: 228px!important;
}
}


.technoSlide{
    h2{
        font-family: Poppins;
        font-weight: bold;
        text-align: center;
        color: #0a004b;
        margin-top: 10rem;
        padding-top: 4rem;
        margin-bottom: 20px;

    }
    p{
        margin-bottom: 1rem;
        // padding: 0px 160px 0px 160px;
    }
}
.LangScrol{
    margin-left: 25rem;
}
.singleLang{
    padding-bottom: 7rem;
        .slider-wrapper {
        padding-left: 400px;

        @include media-breakpoint-down(sm) {
            padding-left: 0;
        }
    }

    .slider {
        padding-top: 60px;

        .slick-list.draggable {
            padding-right: 85px;

            @include media-breakpoint-down(lg) {
                padding-right: 55px;
            }
        }

        .slick-track {
            display: flex;
            margin: 0 -10px;
        }

        .item {
            background: white;
            height: inherit;
            margin: 0 10px;
            padding: 50px 40px;
            border-radius: 30px;
            transition: .3s;
            cursor: pointer;

            .icon {
                margin-bottom: 45px;
                transition: .3s;
            }

            .text {
                transition: .3s;
            }

            h6 {
                margin-bottom: 35px;
            }

            &:hover {
                background: #2e207d;
                h4{
                    color: white;
                }
                .icon,
                .text {
                    transform: scale(1.05);
                    
                }
            }

        }

        @include media-breakpoint-down(sm) {
            .slick-track {
                margin: 0 5px;
            }

            .item {
                margin: 0 5px;
            }
        }

        .slick-arrow {

            &.pull-left {
                left: -110px;
            }

            &.pull-right {
                border-radius: 50px 0 0 50px;


                &:hover {
                    width: 119px;
                    padding-right: 50px;
                }
            }

            @include media-breakpoint-down(sm) {

                &.pull-left {
                    left: -7px;
                }

                &.pull-right {
                    border-radius: 50px;
                    right: 35px;

                    &:hover {
                        width: 40px;
                        padding-right: 0;
                    }
                }
            }
        }
    }
}
.Req-Quote{
background: #0a004b;
padding-top: 7rem;
padding-bottom: 7rem;
h2{
    font-family: Poppins;
    font-weight: bold;
    font-size: 49px;
    line-height: 70px;
    text-align: left;
    color: #fff;

}
h5{
    font-weight: 500;
}
.mobile-button{
    margin-left: 18px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    border-radius: 30px;
    border: 0px;
    color: #0a004b;
}
}